@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.container {
	width: 700px;
	text-align: center;
	text-transform: uppercase;
}


table {
	border: 4px solid;
	border-spacing: 10px;
	border-collapse: collapse;
	background-color: white;
	padding: 3px;
	width: 100%;
}

table tr td {
	padding: 2px;	
	border: 4px solid #2E75CC;
	height: 120px;
	width: 120px;
	font-size: 13pt;
	/* explicit text-align to defy browser defaults: */
	text-align: center; 
}

.bingoed {
	background-color: #35a65a50;
}

h1, .footer1 {
	background-color: #2E75CC;
	height: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-weight: 700;
	font-size: 48pt;
	margin-bottom: 0;	
}
.footer1 {
	height: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.header2, .header3 {
	font-size: 24pt;
	font-weight: 600;
	color: gray;
	text-transform: uppercase;
}

.header3 {
	font-size: 20pt;
}

button {
  border: 1px solid gray;
  padding: 6px;
} 

.restart {
	background-color: orange;
}

.edit {
	background-color: green;
}

.generate {
	background-color: blue;
	color: white;
}

.share {
	background-image: linear-gradient(#FFFFFF, #E5E5E5);
	margin-left: 50px;
}

.hidden {
	visibility: hidden;
}

